.div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadIcon {
    width: 100px;
}

.loaderDiv {
    margin: 30px;
}

.name {
    margin-bottom: 10px;
}

.progress {
    width: 70vw;
}